#Exclude filters, targets, logs, results and saves files
*.csv
*.log
*.txt
*.json
.hars.save
#Exclude python cache files
*__pycache__/
#Exclude python enviroment
.env/
#Exception for examples directory
!examples/*
#Exception for requirements
!requirements.txt
